name: Testing Tool Maintaintability
on:
  push:
    branches:
    - main
jobs:
  setup_ubuntu:
    name: setup ubuntu vm
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
      - name: Install dependencies
        run: |
          sudo apt install cloc
          sudo apt install npm
          npm install -g jscpd
          sudo apt-get install jq
          curl -s https://raw.githubusercontent.com/terraform-linters/tflint/master/install_linux.sh | bash
      - name: Tools cloc
        id: loc
        run: |
          cloc ./terraform/docker/main.tf --json > cloc_terraform.json
          echo "terraform_loc=$(jq '.SUM.code' cloc_terraform.json)" >> $GITHUB_OUTPUT
          cloc ./pulumi/docker/index.ts --json > cloc_pulumi.json
          echo "pulumi_loc=$(jq '.SUM.code' cloc_pulumi.json)" >> $GITHUB_OUTPUT
      - name: Tools duplicate resources
        id: dupl
        run: |
          cd ./terraform/docker
          jscpd -p 'main.json' -r json -o .
          echo "terraform_dupl=$(jq '.statistics.total.clones' jscpd-report.json)" >> $GITHUB_OUTPUT
          cd ./pulumi/docker
          jscpd -p 'index.ts' -r json -o .
          echo "pulumi_dupl=$(jq '.statistics.total.clones' jscpd-report.json)" >> $GITHUB_OUTPUT
      - name: Terraform lint
        id: terraform_lint
        run: |
          cd ./terraform/docker
          tflint --format=json > tflint-report.json
          echo "terraform_lint=$(echo $(($(jq '.issues | length' tflint-report.json) + $(jq '.errors | length' tflint-report.json))))" >> $GITHUB_OUTPUT
      - name: Print summary
        run: |
          echo "Terraform LOC: ${{ steps.loc.outputs.terraform_loc }}"
          echo "Pulumi LOC: ${{ steps.loc.outputs.pulumi_loc }}"
          echo "Terraform Dupl: ${{ steps.dupl.outputs.terraform_dupl }}"
          echo "Pulumi Dupl: ${{ steps.dupl.outputs.pulumi_dupl }}"
          echo "Terraform Lint: ${{ steps.terraform_lint.outputs.terraform_lint }}"
          
       
        
