name: Testing Tool Maintaintability
on:
  push:
    branches:
    - main
jobs:
  cloc:
    name: Cloc Tools
    runs-on: ubuntu-22.04
    outputs:
      cloc_file: ${{ steps.loc.outputs.cloc_that }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
      - name: Install dependencies
        run: sudo apt install cloc
      - name: Tools cloc
        id: loc
        run: |
          cloc_that=$(cloc ./terraform/docker/main.tf ./pulumi/docker/index.ts --json)
          {
            echo 'cloc_that<<EOF'
            echo "$cloc_that"
            echo 'EOF'
          } >> "$GITHUB_OUTPUT"
  results:
    name: Results Summary
    runs-on: ubuntu-22.04
    needs: cloc
    steps:
      - name: Install dependencies
        run: sudo apt-get install jq
      - name: Print summary
        run: |
          echo "Terraform LOC: $(jq '.HCL.code' ${{ needs.cloc.outputs.cloc_file }})"
          echo "Pulumi LOC: $(jq '.TypeScript.code' ${{ needs.cloc.outputs.cloc_file }})"
          
       
        
