name: Testing Tool Maintaintability
on:
  push:
    branches:
    - main
jobs:
  cloc:
    name: Cloc Tools
    runs-on: ubuntu-22.04
    outputs:
      cloc_file: ${{ steps.loc.outputs.cloc_that }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
      - name: Install dependencies
        run: sudo apt install cloc
      - name: Tools cloc
        id: loc
        run: |
          cloc_that=$(cloc ./terraform/docker/main.tf ./pulumi/docker/index.ts --json)
          {
            echo 'cloc_that<<EOF'
            echo "$cloc_that"
            echo 'EOF'
          } >> "$GITHUB_OUTPUT"
  dupl:
    name: Dupl Tools
    runs-on: ubuntu-22.04
    outputs:
      dupl_file: ${{ steps.dupl.outputs.dupl_that }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
      - name: Install dependencies
        run: |
          sudo apt install npm
          npm install -g jscpd
      - name: Tools jscpd
        id: dupl
        run: |
          jscpd ./terraform/docker/main.json ./pulumi/docker/index.ts -r json -o .
          dupl_that=$(cat jscpd-report.json)
          {
            echo 'dupl_that<<EOF'
            echo "$dupl_that"
            echo 'EOF'
          } >> "$GITHUB_OUTPUT"
  results:
    name: Results Summary
    runs-on: ubuntu-22.04
    needs: [cloc, dupl]
    steps:
      - name: Install dependencies
        run: sudo apt-get install jq
      - name: Print summary
        run: |
          echo '${{ needs.cloc.outputs.cloc_file }}' > cloc.json
          echo '${{ needs.dupl.outputs.dupl_file }}' > dupl.json
          echo "Terraform LOC: $(jq '.HCL.code' cloc.json)"
          echo "Pulumi LOC: $(jq '.TypeScript.code' cloc.json)"
          echo "Terraform Dupl: $(jq '.statistics.formats.json.total.clones' dupl.json)"
          echo "Pulumi Dupl: $(jq '.statistics.formats.typescript.total.clones' dupl.json)"
          
       
        
