name: Testing Tool Maintaintability
on:
  push:
    branches:
    - main
jobs:
  setup_ubuntu:
    name: setup ubuntu vm
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
      - name: Install dependencies
        run: |
          sudo apt install cloc
          sudo apt install npm
          npm install -g jscpd
          sudo apt-get install jq
      - name: Terraform cloc
        id: terraform_loc
        run: |
          cloc ./terraform/docker/main.tf --json > cloc_terraform.json
          echo "terraform_loc=$(jq '.SUM.code' cloc_terraform.json)" >> $GITHUB_OUTPUT
      - name: Terraform duplicate resources
        id: terraform_dupl
        run: |
          cd ./terraform/docker
          jscpd -p 'main.json' -r json -o .
          echo "terraform_dupl=$(jq '.statistics.total.clones' jscpd-report.json)" >> $GITHUB_OUTPUT
      - name: Print summary
        run: |
          echo "Terraform LOC: ${{ steps.terraform_loc.outputs.terraform_loc }}"
          echo "Terraform Dupl: ${{ steps.terraform_dupl.outputs.terraform_dupl }}"
          
       
        
