name: Testing Tool Maintaintability
on:
  push:
    branches:
    - main
jobs:
  cloc:
    name: Cloc Tools
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        env: [docker, kubernetes]
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
      - name: Install dependencies
        run: sudo apt install cloc
      - name: Tools cloc
        id: loc
        run: |
          mkdir -p outputs/${{ matrix.env }}
          cloc ./terraform/${{matrix.env}}/main.tf ./pulumi/${{matrix.env}}/index.ts --json > outputs/${{ matrix.env }}/cloc.json
      - uses: actions/upload-artifact@v4
        with:
          name: cloc-${{ matrix.env }}
          path: outputs/cloc.json
  dupl:
    name: Dupl Tools
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        env: [docker, kubernetes]
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
      - name: Install dependencies
        run: |
          sudo apt install npm
          npm install -g jscpd
      - name: Tools jscpd
        id: dupl
        run: |
          mkdir -p outputs/${{ matrix.env }}
          jscpd ./terraform/${{matrix.env}}/main.json ./pulumi/${{matrix.env}}/index.ts -r json -o outputs/${{ matrix.env }}
      - uses: actions/upload-artifact@v4
        with:
          name: dupl-${{ matrix.env }}
          path: outputs/jscpd-report.json
  results:
    name: Results Summary
    runs-on: ubuntu-22.04
    needs: [cloc, dupl]
    strategy:
      matrix:
        env: [docker, kubernetes]
    steps:
      - name: Install dependencies
        run: sudo apt-get install jq
      - name: Download cloc artifact
        uses: actions/download-artifact@v4
        with:
          name: cloc-${{ matrix.env }}
          path: outputs/cloc
      - name: Download jscpd artifact
        uses: actions/download-artifact@v4
        with:
          name: dupl-${{ matrix.env }}
          path: outputs/dupl
      - name: Print summary
        run: |
          CLOC_FILE="outputs/cloc/cloc.json"
          DUPL_FILE="outputs/dupl/jscpd-report.json"
          echo "Environment: ${{ matrix.env }}"
          echo "Terraform LOC: $(jq '.HCL.code' "$CLOC_FILE")"
          echo "Pulumi LOC: $(jq '.TypeScript.code' "$CLOC_FILE")"
          echo "Terraform Dupl: $(jq '.statistics.formats.hcl.total.clones' "$DUPL_FILE")"
          echo "Pulumi Dupl: $(jq '.statistics.formats.typescript.total.clones' "$DUPL_FILE")"
          
       
        
